page-login {
  background-color: $almost-black;

  .item, .item-block, .item-md {
    background-color: $almost-black;
  }

  ion-input {
    background-color: $faint-gray;
  }

  // .toggle-md .toggle-inner {
  //   background-color: $main-green;
  // }

  .small-text-label {
    color: $main-green;
    font-size: 75%;
  }
}
