page-research-opp {
  .toolbar-title-md {
    color: white;
  }

  .subject-titles {
    font-weight: bold;
    // color: green;
  }

  .inline {
    display: inline-block;
  }

  .bold-p {
    font-weight: bold;
  }
}
