<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title align="center">
      <img width="40%" src="assets/imgs/beakr_logo.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let m of messages">
    <ion-card-content>
      <ion-card-title>
        {{ m.object.subject }}
      </ion-card-title>
      <ion-item>
        <p>
          From: {{ m.object.from }}
        </p>
      </ion-item>
      <small>
        {{ m.object.date_sent }}
      </small>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="end-of-content-block">
    </ion-card-content>
  </ion-card>

  <!-- Add in (onclick) functionality -->
  <!-- <ion-card>
    <ion-card-content>
      <ion-card-title>
        Subject line of email
      </ion-card-title>
      <ion-item>
        <p>
          From: Someone
        </p>
      </ion-item>
      <small>
        December 3, 2017 5:39 PM
      </small>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Subject line of email
      </ion-card-title>
      <ion-item>
        <p>
          From: Someone
        </p>
      </ion-item>
      <small>
        December 3, 2017 5:39 PM
      </small>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card *ngFor="let m of messages">
    <ion-card-content>
      <ion-card-title>
        {{ m.company.catchPhrase }}
      </ion-card-title>
      <ion-item>
        <p>
          From: {{ m.name }}
        </p>
      </ion-item>
      <small>
        December 3, 2017 5:39 PM
      </small>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="end-of-content-block">
    </ion-card-content>
  </ion-card> -->

</ion-content>
