// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Styles for the navbar at the top of every page
.toolbar-background, .toolbar-background-md {
  background-color: $almost-black;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: $faint-gray;
}

// Filler ion-card that serves as an end of content notifier
.end-of-content-block {
  background-color: $lightest-green;
}

// Making rounded input boxes
.item-input ion-input, .item-input ion-textarea {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}
