page-signup {
  background-color: $almost-black;
  color: $text-color;

  ion-item {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .item, .item-block, .item-md {
    background-color: $almost-black;
  }

  ion-input {
    background-color: $faint-gray;
    color: black;
  }
}
