page-signup {
  background-color: #686767;

  ion-item {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .small-text-label {
    font-size: 75%;
  }
}
