<ion-grid>
  <!-- Beakr Logo -->
  <ion-row>
    <ion-item no-lines>
      <img src="assets/imgs/beakr_logo.png"/>
    </ion-item>
  </ion-row>

  <div *ngIf="formError" text-center>
    <p *ngIf="formError == 'true' " style="color: #ea6153;">Please fill out all details accurately.</p>
    <p *ngIf="formError == 'true' " style="color: #ea6153;">All fields are required.</p>
    <p *ngIf="formError == 'pass' " style="color: #ea6153;">Passwords Need to match.</p>
  </div>
  <form #form="ngForm" [formGroup]="signUpForm" (ngSubmit)="doSignUp()">
    <ion-row>
      <ion-col offset-1 col-9>
        <ion-item no-lines>
          <ion-input formControlName="email" [(ngModel)]="email" type="email" placeholder="School Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Username and Password Inputs -->
    <ion-row>
      <ion-col offset-1 col-9>
        <ion-item no-lines>
          <ion-input formControlName="username" [(ngModel)]="username" type="text" placeholder="Username"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-1 col-9>
        <ion-item no-lines>
          <ion-input formControlName="password" [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-1 col-9>
        <ion-item no-lines>
          <ion-input formControlName="password2" [(ngModel)]="password2" type="password" placeholder="Confirm Password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>

  <!-- Sign Up Button -->
  <ion-row>
    <ion-col offset-2 col-6>
      <button ion-button round color="secondary" full (click)="doSignUp()">Sign Up</button>
    </ion-col>
  </ion-row>

  <!-- Login Button -->
  <ion-row>
    <ion-col offset-2 col-6>
      <button ion-button round full (click)="doLogin()">Login</button>
    </ion-col>
  </ion-row>

</ion-grid>
